# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  tests:

    runs-on: macos-13

    steps:
    - name: Checkout code
      uses: nschloe/action-cached-lfs-checkout@v1.2
    
    - name: Run tests
      run: xcodebuild test -scheme 'Compound' -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 14,OS=16.4' -skipPackagePluginValidation
 
